<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <title>{{papeTitle}}</title>
    </header>
    <body>
        <h1>{{sreamIt content}}</h1>
        <p>{{> menu}}</p>
        <p>Some text</p>
    </body>
    {{> footer}}
</html>